body{
  font-family: 'Roboto', sans-serif;
}

a input[type="image"]{
	width: 80px;
	height: 80px;
}

img{
  width: 150px;
  height: 150px;
  object-fit: contain;
}

span{
  font-size: 36px;
}

p{
  font-size: 18px;
}

a input[type="submit"]{
  width: 150px;
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  background-color: #038fd593;
  color: white;
}
a input[type="button"]{
	width: 150px;
  	height: 30px;
  	font-size: 14px;
  	font-weight: bold;
  	border: none;
  	background-color: rgb(128, 128, 128);
  	color: white;
}

input[type="submit"]{
	width: 150px;
  	height: 30px;
  	font-size: 14px;
  	font-weight: bold;
  	border: none;
  	background-color: rgb(128, 128, 128);
  	color: white;
}

hr{
  height: 1px;
  background-color: #d0d0d0;
}