<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_9" version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>Archetype Created Web Application</display-name>
	
	<filter>
		<filter-name>CF</filter-name>
		<filter-class>pear.servlet.ControladorFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CF</filter-name>
		<url-pattern>/pear</url-pattern>
	</filter-mapping>
</web-app>
